import(quantreg)
import(mice)
import(boot)

exportPattern("^[^\\.]")
S3method(coef, rq.counts)
S3method(coef, rqt)
S3method(fitted, rqt)
S3method(fitted, rq.counts)
S3method(predict, rrq)
S3method(predict, rqt)
S3method(predict, rq.counts)
S3method(print, rqt)
S3method(print, rq.counts)
S3method(residuals, rq.counts)
S3method(summary, rqt)
